*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Tahoma, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img{
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    z-index: -1;
}
section{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 90vh;
    margin: 30px auto 0 20px;
}
.hello{
    color: antiquewhite;
    margin-left: 5px;
    text-shadow: 0 -7px 10px rgba(225, 160, 21, 0.5);
    margin-top: 50px;
    font-size: 30px;
}
.intro{
    color:color-mix(in hsl shorter hue, rgb(168, 149, 44) 50%, rgb(146, 154, 3) 50%);
    margin-top: 5px;
    font-size: 20px;
    margin-left: 20px;
    font-size: 20px;
}
.Ps{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    color: rgb(243, 240, 238);
}
h4{
    text-decoration: underline dotted;
    margin-bottom: -15px;
    color: brown;
}
.highlights{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 5px;
    color: rgb(215, 86, 17);
}
a img{
    margin-top: 5px;
    margin-left: 5px;
    z-index: 1;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur();
    -webkit-backdrop-filter:blur();
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:
        0 5px 30px rgba(0,0,0,0.2),
        inset 0 1px 1px rgba(255,255,255,0.6);
}
a img{
    width: 30px;
    transition: 0.5s;
}

a img:hover{
    transform: scale(1.3);
}